<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>

<h1>Вход в систему</h1>

<div th:if="${param.error}">
    <p style="color:red;">Неверный email или пароль</p>
</div>

<div th:if="${param.logout}">
    <p style="color:green;">Вы вышли из системы</p>
</div>

<form action="/perform-login" method="post">
    <label>Email:</label>
    <input type="text" name="email" required>
    <br><br>

    <label>Пароль:</label>
    <input type="password" name="password" required>
    <br><br>

    <button type="submit">Войти</button>
</form>

<br>
<a href="/">Назад</a>

</body>
</html>