<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
</head>
<body>

<h1>Регистрация</h1>

<form action="/register-form" method="post">
  <label>Имя пользователя:</label>
  <input type="text" name="username" required>
  <br><br>

  <label>Email:</label>
  <input type="email" name="email" required>
  <br><br>

  <label>Пароль:</label>
  <input type="password" name="password" required>
  <br><br>

  <button type="submit">Зарегистрироваться</button>
</form>

<br>
<a href="/">Назад</a>

</body>
</html>